body{
    color:greenyellow;
    text-align: left;
    font-family: "Arial";
    font-size: 24px;
}
#cabecera{
    background:blue;
    box-shadow: 0px 2px 20px 0px rgba(red, green, blue, alpha);
    color:red;
    font-weight: bold;
    margin: 3px;
    padding: 0.5em;
}

#cabecera #tagline{
padding: 0 0 0 1em;
font-weight: normal;
font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin:auto; 
}
#footer{
background:yellow;
color:white;
text-align:center;
padding: 0 0 0 2em;
}
#container h1
{
font-size: 20px;
}