body{
    color:darkslateblue;
    text-align: left;
    font-family: "Courier";
    font-size: 24px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin:auto; 
}
#container h1
{
font-size: 20px;
}